*{
    transition: all .5s ease;
}

body{
    background-color: #000;
}


h4{
    width: 100%;
    margin: auto;
    font-size: 30px;
    text-align: center;
    color: #fff;
    padding: 20px 0;
}

h2{
    color: #fff;
}

h4,span,a{
    font-family: 'Gloria Hallelujah', cursive;
}

/*-----banner 開始------*/
.banner{
    background: linear-gradient(0deg,hsla(0,50%,0%,.4),hsla(0,50%,0%,.2)),url('../images/background/bgc-common.jpg');
    background-position:center;
    background-repeat: no-repeat;
    margin:auto;
}

.banner i{
    position: absolute;
    bottom:20px;
    font-size:65px;
    color: #fff;
    opacity: .8;
    animation-name:arrow;
    animation-duration:2.5s;
    animation-iteration-count: infinite;
}


.new-arrivals .btn:hover{
        margin: auto;
        padding: 5px 40px;
        font-size: 20px;
        color: #fff;
        border: 1px solid #fff;
        background-color: #000;
        border-radius: 5px;
        transition: all .8s ease;
}

/*-----banner 結束------*/

/*-----nav開始------*/
.nav{
    width: 100%;
    margin: auto;
    background-color: #aaa;
}

.nav ul{
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}

.nav ul:nth-of-type(2){
    display:initial;
}

.nav ul li{
    width: 100%;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    background-color: rgba(105,105,105,1);
    color: #fff;
    border: 1px solid #fff;
    padding: 20px 0px;
    transition: all .3s ease-in-out;
    font-family: 'Gloria Hallelujah', cursive;
}

/* .nav ul li:first-child{ */
    /* background-color: rgb(10, 10, 77); */
/* } */

.nav ul li:hover{
    background-color: rgb(10, 10, 77);
    color: #fff;
}

.nav.activeColor{
    background-color: rgb(10, 10, 77)!important; 
}
/*-----banner 結束------*/

/*--new-arrivals start--*/
.wrap-new{
    /* background-image: url(../images/background/bg02.jpg); */
    background: linear-gradient(0deg,hsla(0,50%,0%,.2),hsla(0,50%,0%,.1)),url('../images/background/bgc05.jpg');
	background-repeat: no-repeat;
	background-size:cover;
	background-attachment: fixed; 
    overflow: hidden;
}

.new-arrivals{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    height:845px;
    margin: auto;
    overflow: hidden;
    transition: all 1.5s;
}

.new-arrivals-region{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:100%;
    margin-top: -6px;
}

.new-arrivals .arrow-img-up {
	position: relative;
	left: 50%;
	top:6%;	
}

.new-arrivals .arrow-img-up img{
	width: 50px;
	height: 50px;
	transform: rotate(180deg);
}

.new-arrivals .arrow-img-down {
	position: absolute;
	left: 50%;
	bottom:-100%;	
}

.new-arrivals .arrow-img-down img{
	width: 50px;
	height: 50px;
}

.new-arrivals  .pagedownto-3 {
    
}

.new-container .square-box{
    transform: rotate(226deg);
    background: linear-gradient(170deg,rgba(0,0,0,.7),rgba(255,255,255,1));
    transition: all 1s ease;
}

.new-container .square-box:hover{
  transform: scale(1.6) rotate(180deg);
  background: url(../images/index/stage03.jpg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.new-container .square-box{
    background-color: #f5f5f5;
    box-shadow: 0px 3px 20px #333;
}


.square-box img{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    transition: all .8s ease-in-out;
}

.square-box:hover a img{
  transform: scale(1.3) rotate(-180deg);
}

/*--new-arrivals region start--*/

.container {
    margin: 60px auto;
    -webkit-perspective: 1000px;
    -webkit-perspective-origin: 50% -25%;
}

.carousel {
    -webkit-transform-style: preserve-3d;
    -webkit-transform: translateZ(-540px);
    -webkit-transition: 1s;
}

.carousel-region{
    width: 490px;
    height: 500px;
    border-radius: 5%;
    background: rgba(0, 0, 0,1);
}

.carousel img {
    position: absolute;
    opacity: 1;
    -webkit-transition: 1s;
    border-radius: 4%;
    background:#fff;
}

.carousel .first-pic{
    width: 300px;
    height:300px;
    margin:10px;
    margin-top: 20px;
}

.mb{
    margin-top: -500px;
}

.new-arrival-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    right: 3%;
    top: 4%;
}

.new-arrival-content h3{
    font-family: 'Gloria Hallelujah', cursive;
    width:150px;
    color:#f5f5f5;
    border-radius: 5px;
    font-size: 30px;
    text-align: center;
    padding: 10px 5px;
    
}
.new-arrival-content span{
    font-family: 'Gloria Hallelujah', cursive;
    background-color: #fff;
    border-radius: 5px;
    color:rgba(0, 0, 66, 1);
    font-size: 15px;
    text-align: center;
    white-space: nowrap;
    padding:5px;
}
.new-arrival-content p{
    width: 100%;
    background-color: #fff;
    color:rgba(99, 0, 255, 1);
    border-radius:5px;
    font-size: 15px;
    text-align: center;
    padding: 0px;
}

.new-arrival-content .size-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(99, 0, 255, 1);
    border-radius: 5px;
    width: 100%;
    font-size: 15px;
    text-align: center;
    padding: 3px;
  
}

.size-box span{
    background: rgba(99, 0, 255, 1);
    color: #fff;
    width: 40%;
}

.size-box select{
    width: 50%;
}

.new-arrival-content .amount-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(99, 0, 255, 1);
    border-radius: 5px;
    width: 100%;
    font-size: 14px;
    text-align: center;
    padding: 3px;
    margin-top: 3px;
}

.amount-box span{
    background: rgba(99, 0, 255, 1);
    color: #fff;
    width: 40%;
}


.amount-box select{
    width: 50%;
}

.new-arrival-content a{
    width:100%;				
}
.new-arrival-content p{	
    margin: 5px;		
}


.new-arrival-content	.fa{
    position: relative;
    top: 7px;
    right: 24px;
    font-size: 18px;
    color: #fff;
    z-index: -1;
}

.new-arrival-content a p{
    background: none;
    border: 1px solid #fff;
    border-radius:25px;
    color: #fff;
    text-align: center;
    margin: 5px;
}

.new-arrival-content a p:hover{
    color: #fff;
    background: rgba(255, 27, 60, 0.5);
    border: 1px solid rgba(255, 27, 60, 0.5);
 
}

.new-arrival-content .buy-box i{
    padding: 0 5px;    
}

.three-pics{
   display: flex;
   flex-direction: row;
   justify-content: center;
    width: 100%;
    height: 157px;
    position: absolute;
    top: 66%;
}
.three-pics img{
    position:relative;
    left: 2%;
    margin-top: 1%;
    margin:1%;
    width: 30%;
    height: 95%;
}
.carousel .carousel-region:nth-child(1) { -webkit-transform: rotateX(29deg) rotateY(-40deg) translateZ(440px) scale(.3); }
.carousel .carousel-region:nth-child(2) { -webkit-transform: rotateX(-66deg) rotateY(307deg) rotateZ(-60deg)translateZ(638px) scale(.2); }
.carousel .carousel-region:nth-child(3) { -webkit-transform: rotateX(245deg) rotateY(92deg) translateZ(743px) scale(.5); }
.carousel .carousel-region:nth-child(4) { -webkit-transform: rotateX(162deg) rotateY(138deg) translateZ(776px) scale(.2);}
.carousel .carousel-region:nth-child(5) { -webkit-transform: rotateX(-13deg) rotateY(133deg) translateZ(458px) scale(.3); }
.carousel .carousel-region:nth-child(6) { -webkit-transform: rotateX(201deg) rotateY(331deg) translateZ(753px) scale(.3);}
.carousel .carousel-region:nth-child(7) { -webkit-transform: rotateX(386deg) rotateY(125deg) translateZ(759px) scale(.2);  }
.carousel .carousel-region:nth-child(8) { -webkit-transform: rotateX(-13deg) rotateY(303deg) translateZ(784px) scale(.4);}

label {
    
    position: relative;
    z-index: 98;
    cursor: pointer;
    background: #eee;
    font-size: 15px;
    text-align: center;
    display: inline-block;
    border-radius: 100%;
    width: 30px;
    padding-top: 4px;
    height: 23px;
    font: .9em Arial;
}

label:hover {
    box-shadow:0 0  0px 1px #fff;
    background: #000;
}

label:hover i{
    color: #fff;
}

input {
    position: absolute;
    left: -9999px;
}

input:checked + label {
    font-weight: bold;
    background: #000;
    box-shadow: 0 0 0 1px #fff;
}

input:checked + label>i{
    font-weight: bold;
    color:#fff;
}

input[value="1"]:checked ~ .container .carousel { -webkit-transform: translateZ(-540px); }
input[value="2"]:checked ~ .container .carousel { -webkit-transform: translateZ(-540px) rotateY(-45deg); }
input[value="3"]:checked ~ .container .carousel { -webkit-transform: translateZ(-540px) rotateY(-90deg); }
input[value="4"]:checked ~ .container .carousel { -webkit-transform: translateZ(-540px) rotateY(-135deg); }
input[value="5"]:checked ~ .container .carousel { -webkit-transform: translateZ(-540px) rotateY(-180deg); }
input[value="6"]:checked ~ .container .carousel { -webkit-transform: translateZ(-540px) rotateY(-225deg); }
input[value="7"]:checked ~ .container .carousel { -webkit-transform: translateZ(-540px) rotateY(-270deg); }
input[value="8"]:checked ~ .container .carousel { -webkit-transform: translateZ(-540px) rotateY(-315deg); }

input[value="1"]:checked ~ .container .carousel .carousel-region:nth-child(1) { -webkit-transform: translateZ(468px) scale(1); opacity: 1; }
input[value="2"]:checked ~ .container .carousel .carousel-region:nth-child(2) { -webkit-transform: rotateY(45deg) translateZ(468px) scale(1); opacity: 1; }
input[value="3"]:checked ~ .container .carousel .carousel-region:nth-child(3) { -webkit-transform: rotateY(90deg) translateZ(468px) scale(1); opacity: 1; }
input[value="4"]:checked ~ .container .carousel .carousel-region:nth-child(4) { -webkit-transform: rotateY(135deg) translateZ(468px) scale(1); opacity: 1; }
input[value="5"]:checked ~ .container .carousel .carousel-region:nth-child(5) { -webkit-transform: rotateY(180deg) translateZ(468px) scale(1); opacity: 1; }
input[value="6"]:checked ~ .container .carousel .carousel-region:nth-child(6) { -webkit-transform: rotateY(225deg) translateZ(468px) scale(1); opacity: 1; }
input[value="7"]:checked ~ .container .carousel .carousel-region:nth-child(7) { -webkit-transform: rotateY(270deg) translateZ(468px) scale(1); opacity: 1; }
input[value="8"]:checked ~ .container .carousel .carousel-region:nth-child(8) { -webkit-transform: rotateY(317deg) translateZ(468px) scale(1); opacity: 1; }
		/*--new-arrivals region end--*/
/*--new-arrivals end--*/

.box{
    width: 100px;
    height: 100px;
    background-color: #aaa;
}

/*----new-arrivals-2 start------*/

.wrap-new-2{
    display: none;
    width: 100%;
    height: 830px;
    background: linear-gradient(0deg,hsla(0,50%,0%,.4),hsla(0,50%,0%,.2)),url('../images/background/bgc03.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*--new-arrivals-2 end--*/

/*----new-arrivals-3 start------*/
.wrap-new-3{
    background: linear-gradient(0deg,hsla(0,50%,0%,.4),hsla(0,50%,0%,.2)),url('../images/background/bgc07.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.new-container{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 950px;
    margin: auto;  
}

.new-container .square-box {
    transform: rotate(226deg);
    background: linear-gradient(170deg,rgba(0,0,0,.7),rgba(255,255,255,1));
}

.new-container .square-box {
    background-color: #f5f5f5;
    box-shadow: 0px 3px 20px #333;
}

.square-box img{
   position: absolute;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   margin: auto;
}

.square-box:nth-of-type(1) img{
   width:250px;
   transform: rotate(134deg);
}

.square-box:nth-of-type(2) img{
   width:150px;
   transform: rotate(134deg);
}

.square-box:nth-of-type(3) img{
   width:150px;
   transform: rotate(134deg);
}

.new-container .square-box:nth-of-type(1){
   /* position: relative; */
   z-index:2;
   width: 350px;
   height: 350px;
}

.new-container .square-box:nth-of-type(2){
   position: absolute;
   z-index:1;
   right:654px;
   width: 200px;
   height: 200px;
}

.new-container .square-box:nth-of-type(3){
   position: absolute;
   left:654px;
   z-index:1;
   width: 200px;
   height: 200px;
}

.button{
   width:auto;
   margin: auto;

}

.new-arrivals .btn{
   width: 80px;
   margin: auto;
   color: #000;
   border: 1px solid #000;
   background-color: #fff;
}

.left-btn a{
   display: block;
   position: absolute;
   right:0;
   width: 50px;
   height: 50px;
   border-radius:50%;
}

.left-btn a i{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-size:23px;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:35px;
    height:35px;
    margin: auto;
    text-align: center;
    background-color: #000;
    border:2px solid #fff;
    transition: all .8s ease-in-out;
    /* border-radius: 100%; */
}

.left-btn a:hover i{
    color: #000;
    background-color: #fff;
    border:2px solid #000;
}

.right-btn{
   position: absolute;
   left:0;
   width: 50px;
   height: 50px;
 
}

.right-btn a{
   border-radius:50%;
}

.right-btn a i{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-size:23px;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:35px;
    height:35px;
    margin: auto;
    text-align: center;
    background-color: #000;
    border:2px solid #fff;
    transition: all .8s ease-in-out;
    /* border-radius: 100%; */
}

.right-btn a:hover i{
    color: #000;
    background-color: #fff;
    border:2px solid #000;
}

 .btn{
    margin: auto;
    padding: 5px 40px;
    font-size: 20px;
    border-radius: 5px;
    transition: all .3s ease-in-out;
}
/*--new-arrivals-3 end--*/

.footer_container .footer_item:nth-child(3) .contact input{
    position:inherit;
}

/*---goods end-----*/

/*-----product開始------*/
.content .wrap-product{
    width: 100%;
}

.content .product{
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
    width:100%;
    margin:auto;
    background-color: #f5f5f5;
}

.side-bar{
    height: 100%;
}

.content .side-bar ul{
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    background: #fff;
}

.content  .side-bar ul li{
    width: 100%;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    color: #fff;
    border: 1px solid #999;
    background-color: #aaa;
    padding: 20px 30px;
    transition: all .3s ease-in-out;
} 

.content  .side-bar ul li:hover{
    background-color: #000;
} 



.side-bar ul li a{
    font-family: 'Gloria Hallelujah', cursive;
    display: block;
    font-size: 20px;
    line-height: 32px;
    color: #000; 
    transition: all .3s ease-in-out;
}

.side-bar ul li:first-child{
    color: #fff;
    background-color: #000;
}

.side-bar ul li:first-child a{
    color: #fff;
}


.content  .side-bar ul li:hover a{
    color: #f5f5f5;  
}

.content .goods-container{
    width: 100%;
    background-color: #000;
}

.goods-region{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1100px;
    margin: auto;
    overflow: hidden;
}

.goods-container h4{
    margin-top: 50px;
    border: 1px solid #fff;
}

.product-region{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px;
    border-radius: 40px;
    margin: auto;
    margin-bottom: 35px;
    background-color: #000;
}

.product-container h2{
    color:#000;
}

.product-container{
    width: 100%;
}

.product-container h2{
    color:#000;
}

/*--recommend--*/

.recommend{
    display: flex;
    flex-direction: row;
    justify-content:center;
    width: 100%;
}

#space {
    position: absolute;
    left: 0;
    background: #000000;
    height: 1220px;
    width: 100%;
    top: 60%;
}


.product-item{
    position: relative;
    width:300px;
    border-radius: 5px;
    margin: 30px;
    background-color: rgb(206, 206, 206);
    padding: 10px;
    background-clip: padding-box;
    box-shadow: 0px 3px 20px #333;
}


.product-item img{
    width: 100%;
    height: 200px;
    border-radius: 50%;
}

.product-item h4{
	position: relative;
    z-index: 3;
    width: 180px;
    font-family: 'Gloria Hallelujah', cursive;
    text-align: left;
    font-size: 20px;
    color: #fff;
    box-shadow: 0px 3px 20px #333;
    background-color: rgb(177, 193, 214);
    padding: 25px 120px 25px 20px;
    margin-top: -25px;
    margin-bottom: 14px;
    text-shadow: 0px 0px 0px #666, 0px 0px 0px #555, 0px 0px 23px #555;
    transform: translate(-40px,0);
}

.product-item p{
    width:150px;
    text-align: center;
        font-family: 'Gloria Hallelujah', cursive;
    font-size: 17px;
    padding: 0;
	color: rgba(0, 0, 99, 1);
    border-radius: 5px;
    margin-bottom: 15px;
    background: #fff;
}

.product-img{
    position: relative;
    z-index: 1;
    margin: auto;
    overflow: hidden;
    border-radius: 100%;
}

.photo_link{
    display: block;
    width: 100%;
    height:100%;
    margin: auto;
    transition: all 1s;
}

.photo_link>img{
    width: 100%;
    height: 100%;
    margin:auto;
    transition: all 1s;
}

.photo_link:hover>img {
    filter: blur(5px);
}

.product-img  .photo_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 182px;
    z-index: 2;
    width: 100%;
    height: 100%;
    margin: auto;
    font-size: 30px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .4);
    transition: all .3s ease;
    margin-top: -182px;
    transition: all 1s;
    color: #fff;
    opacity: 0;
}


.product-img  .photo_text span{
    font-size: 30px;
    color: #fff;
    border-radius: 4px;
    padding: 5px 15px;
    transition: all 1.5s ease;
}


.product-img  .photo_text span:hover{
    font-size:45px;
    background-color: #000;
    border: 1px solid #fff;
    color: #fff;
    text-align: center;
    border-radius: 100%;
    width: 500px;
    height: 108px;
    line-height: 94px;
}


.product-img:hover>.photo_link >.photo_text{
    opacity: 0.7;  
}

.product-img  .photo_text h2{
    font-size:15px;
    padding: 6px 0;
}


.product-img  .photo_text p{
    font-size: 10px;
    padding: 6px 0;
}

.product-item .product-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    z-index:1;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
    margin: auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color:rgba(0, 0, 0, 1);
    opacity:0;
    transition: all 1s ease-in-out;
}


.product-img:hover .product-text{
    position: absolute;
    z-index:1;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
    margin: auto;
    background: linear-gradient(0deg,hsla(0,50%,0%,.4),hsla(0,50%,0%,.2)),url('../images/shop/background/02.jpg');
    opacity: 1;
    transform: scale(1.2);
}

.product-item .product-text a{
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size:20px;
    padding:3px 0;
    /* background: rgba(99, 0, 255, 1); */
    color: #fff;
    padding:5px;
    border-radius: 50%;
    text-align: center;
    transition: all 1.2s ease-in-out;
}

.product-item .product-text a:hover{
    background: url('../images/shop/background/01.jpg');
    transform: scale(1.3);
    color:  rgb(255, 255, 255); 
    /* width: 300px;
    height: 300px; */
    font-size: 25px;
    text-shadow: 0px 1px 0px #eee, 0px 1px 0px #ddd, 0px 2px 0px #ccc, 0px 2px 0px #aaa, 0px 3px 0px #999, 0px 3px 0px #888, 0px 4px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 5px 16px #555;
}


.product-item .product-text p{
    font-size: 10px;
}

/*--recommend--*/


.goods{
    width:100%;
    margin: auto;
}


.goods-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;;
    width: 700px;
    /* width: 60%; */
    /* flex:40%;  */
    border: 1px solid #fff;
}

.goods-img img{
    border: 1px solid #000;
}

.goods-img img:nth-child(1){
    width:100%;
    height:600px;
}

.goods-img img:nth-child(2),.goods-img img:nth-child(3),.goods-img img:nth-child(4),.goods-img img:nth-child(5),.goods-img img:nth-child(6){
    width:100px;
    height: 100px;
}

.commodity-region{
    width: 100%;
    max-width: 80%;
    margin: 5% auto;
    margin-top: 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.9);
   /* background: rgba(255, 255, 255,.8);*/
}

.commodity-img{
    width: 600px;
    height: auto;
    
}

.col-sm-6 {
    box-sizing: border-box;
    padding: 0 10px;
    width: 50%;
}

.detailTxt {
    text-align: left;
    padding-left: 20px;
}

.detailTxt h1, .detailTxt h2, .detailTxt h3 {
    text-align: left;
}
 
.shop-box {
    display: flex;
    justify-content: space-between;
}

.ys-4 {
    width: 33.333333%;
}

.ys-6 {
    width: 50%;
}

.img-zoom {
    width: 600px;
    margin: 0 auto;
    overflow: hidden;
}
.img-main {
    display: block;
    max-width: 100%;
    height: auto;
}
.img-zoomed {
    position: absolute;
    opacity: 0;
    left: 25%;
    top: 100%;
    transform: translate(50%, 50%);
    transform: scale(5);
    transition:opacity .5s linear;
    cursor:crosshair;
}
.img-zoom:hover .img-zoomed {
    opacity: 1;
}


.img-zoom2 {
    width:600px;
    margin:  0 auto;
    overflow: hidden;
}

.img-zoomed2 {
    position: absolute;
    opacity: 0;
    left: 50%;
    top: 100%;
    transform: translate(50%, 50%);
    transition: opacity .5s linear;
    cursor:crosshair;
}
.img-zoom2:hover .img-zoomed2 {
    opacity: 1;
}

.img-zoom3 {
    width:600px;
    margin:  0 auto;
    overflow: hidden;
}

.img-zoomed3 {
    position: absolute;
    opacity: 0;
    left:100%;
    top: 100%;
    transform: translate(50%, 50%);
    transition: opacity .5s linear;
    cursor:crosshair;
}
.img-zoom3:hover .img-zoomed3 {
    opacity: 1;
}

.img-zoom4 {
    width:600px;
    margin:  0 auto;
    overflow: hidden;
}

.img-zoomed4 {
    position: absolute;
    opacity: 0;
    left:75%;
    top: 100%;
    transform: translate(50%, 50%);
    transition: opacity .5s linear;
    cursor:crosshair;
}

.img-zoom4:hover .img-zoomed4 {
    opacity: 1;
}


.detailImg {
    position: relative;
    overflow: hidden;
}

.detailImg ul {
    width:400%;
    font-size: 0;
    position: relative;
    left: 0;
    transition: .5s;
}

.detailImg ul li {
    display:inline-block;
}

.detailImg img {
    vertical-align: top;
}

.detailImg:after {
    display: none;
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 15px 15px 0;
    border-color: transparent rgba(0, 0, 0, 0.5) transparent transparent;
}

.imgChange ul {
    display: flex;
    flex-direction: row;
    font-size: 0;
}

.imgChange ul .active{
    opacity:.5;
}

.imgChange ul .smallChange{
    display: inline-block;
    /* opacity: .4; */
    cursor: pointer;
}

.imgChange ul .smallChange  img{
    width:100px;
    border-radius: 15px;
}

.goods-buy{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    margin: 15px;
}

.goods-buy h2{
    white-space: nowrap;
    line-height: 40px;
    background-color: rgb(177, 193, 214);
    color: #000;
}

.goods-buy h3{
    white-space: nowrap;
    font-size: 30px;
    line-height: 40px;
    padding: 20px;
    text-align: center;
    color: #fff;
}

.goods-buy p{
    padding:10px;
}

.goods-buy p:nth-of-type(2){
    text-align: center;
    text-shadow: 2.5px 1px  #fff;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 25px;
    padding:20px;
    margin:20px 0;
    background-color: #f5f5f5;
    color:#a0f;
}

.goods .size-box,.goods .amount-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* background-color: rgba(99, 0, 255, 1); */
    border-radius: 5px;
    width: 100%;
    font-size: 15px;
    text-align: center;
    border: 1px solid #f5f5f5;
}

.goods .size-box span,.goods .amount-box span{
    display: block;
    background-color: rgb(12, 115, 250);
    background-color:rgb(177, 193, 214);
    color: #000;
    width:460px;
    font-size: 20px;
    padding: 15px 0;
    border: 1px solid #f5f5f5;
}


.goods .size-box select{
    width: 50%;
    font-size: 25px;
}
 


.goods .amount-box select{
    width: 50%;
    font-size: 25px;
}

.goods .buy{
    display: block;
    width: 100px;
    font-family: 'Gloria Hallelujah', cursive;
    white-space: nowrap;
    border-radius: 10px;
    margin: 18px auto;		
}

.goods .buy:first-child:hover{
    color:#fff;
    background-color: rgba(255, 27, 60, 0.5);
}


.goods p{	
    padding: 20px;
    color: #fff;	
}


.goods a p{
    width: 180px;
    background: none;
    border: 1px solid #fff;
    border-radius:25px;
    color: #fff;
    text-align: center;
  
    margin: auto;
}

.goods a p:hover{
    color: #fff;
    background: rgba(255, 27, 60, 0.5);
    border: 1px solid rgba(255, 27, 60, 0.5);
}

.goods-region .goods-buy a i{
    padding: 0 5px;
}

.wrap-product h3{
    background-color: #fff;
    background-color: rgb(177, 193, 214);
    /* background-color: rgba(99, 0, 255, 1); */
}


.submit{
    font-family: 'Arnold Boeklin', impact;
    text-align: center;
    margin: 18px auto !important;
    transition: all .9s ease;

}

/*-----product 結束------*/

/*-----space 開始------*/
.space{
    height:250px;
    background: linear-gradient(0deg,hsla(0,50%,0%,.4),hsla(0,50%,0%,.2)),url('../images/background/bgc05.jpg');    
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
/*-----space 結束------*/

/* ---RWD 開始---*/

@media screen and (min-width:768px) and (max-width:1200px) {
    .goods-region {
        width:736px;
    }

    .goods-buy {
        width: 700px;
    }
    
        
    .new-container{
        width: 750px;
    }

    .new-container .square-box:nth-of-type(3) {
        position: absolute;
        left:120px;
    }

    .new-container .square-box:nth-of-type(2) {
        position: absolute;
        right:120px;
    }
}

@media screen and (max-width:768px) {
    .goods-region {
        width:100%;
    }

    .goods-img {
        width: 100%;    
    }

    .goods-buy {
        width: 100%;
    }

    .banner{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background: linear-gradient(0deg,hsla(0,50%,0%,.4),hsla(0,50%,0%,.2)),url('../images/background/bgc-common.jpg');
        background-size:100%;
        background-position:center;
        background-repeat: no-repeat;
        margin:auto;
    }
    .content .side-bar ul li {
        padding: 20px 15px;
    }

    .side-bar{
        width: 100%;
    }

    .banner{
        height: 280px;
    }

}


@media screen and (min-width:375px) and (max-width:768px) {
    .commodity-img{
        width:400px;
        height: auto;
        
    }

    .detailImg{
        width:100%;
        height:auto;
        margin: auto;
        position: relative;
        overflow: hidden;
    }

    .goods-buy p:nth-of-type(2) {
        width: 54%;
        margin: 2% auto;
    }

    .img-zoom {
        width: 400px;
        display: inline;
        margin: 0 auto;
        overflow: hidden;
    }
    .img-main {
        /* display:inline-block; */
        max-width: 100%;
        width:400px;
        height: auto;
    }

    .img-zoom2 {
        width: 400px;
        display: inline;
        margin:  0 auto;
        overflow: hidden;
    }

    .img-zoom3 {
        width:400px;
        margin:  0 auto;
        overflow: hidden;
    }

    .img-zoom4 {
        width:400px;
        margin:  0 auto;
        overflow: hidden;
    }

    .img-zoom>img:nth-child(2){
        display: none;
    }
    .img-zoom2>img:nth-child(2){display: none;}
    
    .img-zoom3>img:nth-child(2){display: none;}
    .img-zoom4>img:nth-child(2){display: none;}

    .banner{
        height: 280px;
        background-position:center;
    }

    .banner h1 {
        color: #fff;
        font-size: 50px;
    }


    .nav ul li {
        font-size: 15px;
    }

    .container {
        margin: auto;
    }

    .new-container{
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: auto; 
    }

    .new-arrivals {
        height: 600px;
    }
    .new-arrivals h2{
        font-size: 40px;
        margin-top: 10px;
    }

    .new-container .square-box:nth-of-type(3){
        position: absolute;
        left:6%;
        z-index:1;
        width: 200px;
        height: 200px;
    }

    .new-container .square-box:nth-of-type(2) {
        display: none;
    }

    .new-container .square-box:nth-of-type(3) {
        display: none;
    }

    .side-bar ul li a {
        font-size: 10px;
    }

    .goods-img img:nth-child(1) {
        width: 100%;
        height:80%;
    }

    .new-container .square-box:nth-of-type(1) {
        width: 300px;
        height: 300px;
    }

    .goods-img img:nth-child(5), .goods-img img:nth-child(6) {
        display: none;
    }

    .recommend {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        background-color: #000;
    }

    .buy-box{
        width: 360px;
        margin: auto;
    }

    .img-zoomed2{
        display: none;
    }
    .img-zoomed3{
        display: none;
    }

    .img-zoomed4{
        display: none;
    }

    		
    .carousel .carousel-region:nth-child(1) { -webkit-transform: translateZ(536px) scale(.8);opacity:0; }
    .carousel .carousel-region:nth-child(2) { -webkit-transform: rotateY(45deg) translateZ(551px) scale(.8); opacity:0; }
    .carousel .carousel-region:nth-child(3) { -webkit-transform: rotateY(91deg) translateZ(546px) scale(.8);opacity:0; }
    .carousel .carousel-region:nth-child(4) { -webkit-transform: rotateY(136deg) translateZ(540px) scale(.8); opacity:0;}
    .carousel .carousel-region:nth-child(5) { -webkit-transform: rotateY(181deg) translateZ(540px) scale(.8);opacity:0; }
    .carousel .carousel-region:nth-child(6) { -webkit-transform: rotateY(225deg) translateZ(540px) scale(.8);opacity:0; }
    .carousel .carousel-region:nth-child(7) { -webkit-transform: rotateY(271deg) translateZ(540px) scale(.8);opacity:0; }
    .carousel .carousel-region:nth-child(8) { -webkit-transform: rotateY(316deg) translateZ(540px) scale(.8); opacity:0;}

    input[value="1"]:checked ~ .container .carousel { -webkit-transform: translateZ(-540px); }
    input[value="2"]:checked ~ .container .carousel { -webkit-transform: translateZ(-540px) rotateY(-45deg); }
    input[value="3"]:checked ~ .container .carousel { -webkit-transform: translateZ(-540px) rotateY(-90deg); }
    input[value="4"]:checked ~ .container .carousel { -webkit-transform: translateZ(-540px) rotateY(-135deg); }
    input[value="5"]:checked ~ .container .carousel { -webkit-transform: translateZ(-540px) rotateY(-180deg); }
    input[value="6"]:checked ~ .container .carousel { -webkit-transform: translateZ(-540px) rotateY(-225deg); }
    input[value="7"]:checked ~ .container .carousel { -webkit-transform: translateZ(-540px) rotateY(-270deg); }
    input[value="8"]:checked ~ .container .carousel { -webkit-transform: translateZ(-540px) rotateY(-315deg); }

    input[value="1"]:checked ~ .container .carousel .carousel-region:nth-child(1) { -webkit-transform: translateZ(433px) scale(.8); opacity: 1; }
    input[value="2"]:checked ~ .container .carousel .carousel-region:nth-child(2) { -webkit-transform: rotateY(45deg) translateZ(433px) scale(.8); opacity: 1; }
    input[value="3"]:checked ~ .container .carousel .carousel-region:nth-child(3) { -webkit-transform: rotateY(90deg) translateZ(433px) scale(.8); opacity: 1; }
    input[value="4"]:checked ~ .container .carousel .carousel-region:nth-child(4) { -webkit-transform: rotateY(135deg) translateZ(433px) scale(.8); opacity: 1; }
    input[value="5"]:checked ~ .container .carousel .carousel-region:nth-child(5) { -webkit-transform: rotateY(180deg) translateZ(433px) scale(.8); opacity: 1; }
    input[value="6"]:checked ~ .container .carousel .carousel-region:nth-child(6) { -webkit-transform: rotateY(225deg) translateZ(433px) scale(.8); opacity: 1; }
    input[value="7"]:checked ~ .container .carousel .carousel-region:nth-child(7) { -webkit-transform: rotateY(270deg) translateZ(433px) scale(.8); opacity: 1; }
    input[value="8"]:checked ~ .container .carousel .carousel-region:nth-child(8) { -webkit-transform: rotateY(314deg) translateZ(432px) scale(.8); opacity: 1; }

    .l1,.l2,.l14{
        opacity: 0;
    }
    
}

/* ---RWD 結束---*/

